<div class="container-fluid text-center" >

  <h1>FishMaps</h1>

  <section id='oauth'>
    <%= link_to "Login with Google", google_oauth2_path, :class => "button btn btn-primary" %>
  </section>

  <h3 id='about_me'>
    Navigating Local Fishing Conservation Efforts
  </h3>
</div>
